<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Indonesia Game Portal</title>
    <link rel="shortcut icon" href="assets/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="assets/style.css">
</head>

<body>
    <div id="menu">
        <a href="index.html">
            <img src="assets/logo.png" alt="Logo">
        </a>
        <img src="assets/rss.png" style="padding-top: 120px;" alt="Logo">
        <img src="assets/sharethis.png" style="padding-top: 50px;" alt="Logo">
        <img src="assets/picasa.png" style="padding-top: 50px;" alt="Logo">
        <a href="register.html">
            <img src="assets/myspace.png" style="padding-top: 50px;" alt="Logo">
        </a>


    </div>

    <div id="title">
        <section style=" padding-top: 0px; padding-bottom: 0px; margin: 0px">
        <div class="video-wrapper">
            <video autoplay loop muted>
                <source src="assets/tetris.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                Video not supported.
            </video>

            <div>
                <h1>Indonesia Game Portal</h1>
                <p>
                    Compete against your friends and other players
                    in the Epic Tetrominos or in the Endless Dragon.
                </p>

            </div>
        </div>
        </section>
        <h1 class="display-resp">Indonesia Game Portal</h1>

        <!-- <div class="content">
            <p>
                Compete against your friends and other players
                in the Epic Tetrominos or in the Endless Dragon.
                Winner winner chicken dinner.
            </p>
        </div> -->
        <div class="content-games">
            <div class="single-game">
                <img src="assets/EndlessDragon.png" alt="Endless Dragon">
                <div class="inner-content">
                    <button>Play Game</button>
                </div>
                <h1>Endless Dragon</h1>
                <div class="inner-content">
                    <p>Endless Dragon is a 2011 side-scrolling endless dragon action video game created by Halfbrick
                        Studios. It was released for iOS devices on the App Store on September 1, 2011, and has been
                        ported
                        to other systems.</p>
                </div>
            </div>
            <div class="single-game">
                <img src="assets/Tetrominos.png" alt="Endless Dragon">
                <div class="inner-content">
                    <button>Play Game</button>
                </div>
                <h1>Tetrominos</h1>
                <div class="inner-content">
                    <p>Tetrominos, video game created by Russian designer Alexey Pajitnov in 1985 that allows players to
                        rotate falling blocks strategically to clear levels. Pajitnov claimed he created the name of the
                        game by combining the Greek prefix tetra, which refers to the four squares contained in each
                        block, with the word tennis.</p>
                </div>
            </div>
            <div class="single-game">
                <img src="assets/Blob.png" alt="Endless Dragon">
                <div class="inner-content">
                    <button>Play Game</button>
                </div>
                <h1>Blob</h1>
                <div class="inner-content">
                    <p>The objective of Blobs is to grow a cell on a Petri dish by swallowing both randomly generated
                        pellets (blobs), which slightly increases a cell's mass, and smaller cells, without being
                        swallowed by larger cells.</p>
                </div>
            </div>

        </div>
        <div class="social-media">
            <img src="assets/fb.png" alt="fb">
            <img src="assets/instagram.png" alt="fb">
            <img src="assets/twitter.png" alt="fb">
            <img src="assets/youtube.png" alt="fb">

        </div>

        <div id="footer">
            <p>Copyright &copy;</p>
            <p>Designed By:Kelwin Tantono</p>
        </div>
    </div>



</body>

</html>