body{
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    /* background: linear-gradient(to right, #d31027, #ea384d); */
    background: #202024;
}

#menu{
    width: 55px;
    display: flex; /* so that the logo can be centered */
    flex-direction: column;
    position: fixed;
}

#menu img{
    width: 35px;
    height: 35px;
    margin: 0 auto;
}

#menu a{
    margin: 0 auto;
}

#title{
    width: -webkit-fill-available;
    color: white;
    text-align: center;
}

.social-media img{
    width: 50px;
    height: 50px;
    padding: 0px 20px 20px 20px;
}

#footer{
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 0px 10px;
}

.content{
    background: white;
    color: #ff0000;
    padding: 5px;
    height: auto;
}

.content-games{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 0px;
}

.single-game{
    width: 31%;
    height: 600px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background:#2c2c32;
    margin: 0 1em 2em 1em;  
}

.inner-content{
    padding: 0px 10px;
}

.inner-content p{
    height: 100px;
    overflow: auto;
}

.inner-content button{
  background-color: white; 
  border:2px solid #555555  ;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.inner-content button:hover{
    background: #555555;
    color: white;
}

.single-game img{
    height: 45%;
    padding-bottom: 20px;
    border-radius: 4px;
}


#quote {
    background-repeat: repeat;
    overflow: hidden;
    position: relative;
}
.overlayText {
    color:#000;
    position:absolute;
    top: 0;
}   

/* This is just some CSS styling to make the video fill 100% of its div */
.video-wrapper {
    height:100%;
    width:100%;
    overflow: hidden;
    position: relative;
    text-align: center;

}   

.video-wrapper h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    margin: 0;
    color: red;
}

.video-wrapper p{
    font-size: 1.5em;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video-wrapper video {
    filter: brightness(50%) blur(3px);
}

.display-resp{
    display: none;
}

@media only screen and (max-width: 768px) {
    .display-resp{
        display: block !important;
    }
    .video-wrapper{
        display: none;
    }
    .single-game{
        width: 85%;
    }
    .content-games{
        height: auto !important;
    }
}

@media only screen and (max-width: 768px) {
    .social-media{
        display: none;
    }
}


.loading-screen-wrapper {
    background: white;
    position: fixed;
    width: 100vw;
    height: 100vh;
  }
  
  #loading-screen {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #27ab27;
    animation: rainbow 0.6s linear infinite;
  }

  @keyframes rainbow {
    to {
      transform: rotate(360deg);
    }
  }

/* 
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: 	black;
    font-family: titillium web,sans-serif;
    font-style: normal;
    text-decoration: none;
} */

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* background: linear-gradient(to right, #d31027, #ea384d); */
    background: #202024;
}

.order-content{
    padding: 3rem 5rem;
    transition: margin-left 0.5s, margin-top 0.5s, margin-right 0.5s, margin-bottom 0.5s;
}

#order-container{
    display: flex;
    flex-direction: row;
    min-width: 80%;
}

#order-left{
    background-color: white;
    width: 100%;
    border-radius: 10px;
    height: 100%;
    margin: 5em;
}

#order-right{
    color: 	#f3eadb;
    width: 100%;
    height: 100%;
}

#order-title{
    margin-top: 4rem;
    font-size: 3em
}

.form-content{
    display: flex;
    flex-direction: column-reverse;
    margin: 2em 0;
    color: 	#f3eadb;
}

.form-content label{

    color:black;
    transition: 0.5s;
    transition-timing-function: ease-in;
}

.form-box{
    border: none;
    border-bottom: 2px solid #202024;
    margin-top: 0.5em;
    padding: 1em 2em;
    font-size: 1em;
    transition: 1s;
}

.form-box:focus{
    border: none;
    outline: 0;
    border-bottom: 2px solid orangered;
}

.form-box:focus + label{
    color: 	orangered;
}

#submit-button{
    border: grey 1px solid;
    font-size: 1em;
    padding: 1em;
    color: grey;
    background-color:transparent;
    border-radius: 10px;
    transition: 1s;
    cursor: pointer;
}

#submit-button:hover{
    color: white;
    background-color: #202024;
}

#cath-img{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-size: cover;
  

}

#cath-img h1{
    margin-top: 5rem;
    color: white;
}

#cath-img img{
    margin-top: 15%;
    width: 100%;
    height: 100%;
    border-radius: 2em;
}

#cath-img img:hover{
    border: 1px teal solid;
}

.err_label  {
    font-style: italic;
    font-size: .8rem;
    color: red !important; 
}

@media only screen and (max-width: 499px){
    .order-content{
        margin: auto;
    }
    #order-left{
        margin: auto !important;
    }
}

@media only screen and (max-width: 700px){
    .order-content{
        margin: 0;
    }
}

@media only screen and (max-width: 900px){
    .order-content{
        margin: 4rem 12rem;
    }
}

@media only screen and (max-width: 1100px){
    .order-content{
        margin: 4rem 16rem
    }
}


#footer{
    display: flex;
    justify-content: space-around;
    padding: 0px 10px;
}

#footer p{
    color: white;
}